@media (max-width: 600px) {

/* navbar */
#nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    position: fixed;
}

#mobilenav{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    padding: 10vw;
    padding-top: 15vw;
    position: relative;
}

#navbox{
    display: flex;
    /* justify-content: space-around;  */
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
    padding: 0 5vw;
}

#headname{
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 10vw; 
    font-size: 7vw;
    font-weight: bold;
}

#navlinks{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#navlinks>h4{
    padding: 4vw 0;
    margin: 5vw 0;
    width: 100%;
    text-align: center;
    background-color: rgb(10, 67, 105);
    border-radius: 3vw;
}

#navlinks>h4:nth-child(5){
    margin-bottom: 0;
}

#navlinks>h4>a{
    color: whitesmoke;
    /* font-size: 6vw; */
    font-weight: 500;
}

#navlinks>h4>a:hover{
    border-bottom: 2px solid whitesmoke;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: whitesmoke;
}


#menuBtn{
    display: block;
    position: absolute;    
    top: 16px;
    right: 18px;
    font-size: 10vw;
    z-index: 2;
    color: whitesmoke;
}

#closeBtn{
    position: absolute;    
    top: 18px;
    right: 18px;
    font-size: 12vw;
    z-index: 2;
    color: whitesmoke;
}


/* mainbox */

#mainbox{    
    padding: 0 8vw;
    padding-top: 15vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mainbox> #left{
    width: max-content;
    height: max-content;
    padding: 5vw;
    padding-top: 12vw;
    display: none;
}

.pbox>img{
    height: 65vw;
    width: 65vw;
}

#mainbox>#right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 5vw;
}

#right>#intro{
    margin: 0 1.5vw;
}

#intro>#introtext>h3{
    font-size: 8vw;
}

#intro>#introtext>p{
    font-size: 10vw;
    font-weight: 500;
    margin: 1.5vw 0;
}

#intro>#social{
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 10vw;
    display: flex;
}

.social-img{
    height: 10vw;
    width: 10vw;
    margin-right: 5vw;
}

.social-img:hover{
    transform: translateY(-7px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

#cv{
    margin-top: 5vw;
}
/* resuabiltiy */
#cvbtn,
#infobox>#more>#readmore, 
#cbtn,
#viewbtn{
    font-size: 5vw;
    padding: 4vw 6vw;
    border-radius: 2vw;
}

/* about */

#about{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
}

#infobox{
    display: flex;
    width: 95%;
    height: max-content;
    flex-direction: column;
    text-align: left;
}

#infobox .title{
    font-size: 12vw;
    margin-bottom: 1vw;
}

#educationbox>span,
#skillbox>span{
    margin: 3vw 0px;
}

#infobox>#subtitle{
    font-size: 7vw;
    font-weight: 500;
}

#infobox>#detail{
    font-size: 5vw;
    font-weight: 400;
    margin: 7vw 0;
}

#dets{
    display: flex;
    border-collapse: separate;
    border-spacing: 0 4vw;
}

#dets .row{
    margin: 0;
}

#dets .key{
    font-size: 5vw;
}
#dets .value{
    font-size: 5vw;
    padding-left: 3vw;
}

#infobox>#more{
    margin: 2vw 0;
    text-align: left;
}

#aboutpic{
    display: none;
    height: 28vw;
    border: 2px solid red;
    width: 24vw;
    margin-left: 3vw;
}

#aboutpic>img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 1px solid rgb(5, 37, 58);
    background-position: center;
    
}

/* skills */
hr{
    margin-left: 3%;
    margin-right: 3%;
    opacity: 50%;
}

#skills{
    justify-content: center;
    flex-direction: column;
    padding: 0 4vw;
}

#educationbox{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#educationbox .title,
#skillbox .title{
    font-size: 8vw;
    margin-bottom: 8vw;
}

#eduinfo{
    padding: 6vw 3vw;
}

#eduinfo>p{
    font-size: 5vw;
    margin: 2vw 0;
}

#skillbox{
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 6vw 0;
}

#skillinfo {
    width: 100%;
    border-radius: 2vw;
    padding: 2vw 1vw;
}

.skillname{
    margin: 2vw 1vw;
    padding: 2.5vw 3vw;
    border-radius: 2vw;
    font-size: 4.8vw;
    font-weight: 400;
}

#projects{
    padding: 0 4vw;
}

#projects{
    height: max-content;
    width: 100%;
    padding-top: 15vw;
}

#projects .title, #contact .title{
    font-size: 9vw;
    margin-bottom: 8vw;
}

#projectbox{
    padding: 4vw 8vw;
    align-items: center;
    flex-direction: column;
}

.project{
    height: 100%;
    width: 100%;
    margin: 5vw 0;
    border-radius: 3vw;
}

.pimg{
    height: 85vw;
}

.pview{
    margin: 3vw 0;
}


/* contact */

#contact{
    padding-top: 50vh;
    padding: 0 8vw;
    width: 100%;
    height: 85vh;
    justify-content: center;
}

#contactbox{
    height: max-content;
    justify-content: center;
    flex-direction: column;    
}

#contact #contactinfo{
    width: max-content;
}

#contactinfo{
    height: max-content;
    padding-top: 0;
    margin-bottom: 10vw;
}

#contactinfo #infobox{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
}

#contactinfo .cbox{
    margin: 0.8vw 0;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#contactinfo .cbox i{
    font-size: 6vw;
    padding-right: 1.2vw;
}

#contactinfo p{
    font-size: 5vw;
    color: rgb(5, 37, 58);
    font-weight: 500;
    text-align: left;
}

#contactform{
    width: 100%;
    height: 100%;
}

#contactform #form{
    padding: 3vw 4vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input, #message{
    width: 100%;
    height: 10vw;
    margin: 2vw 0;
    border-radius: 1vw;
    border: none;
    font-size: 4vw;
    font-weight: 500;
    padding: 1vw 2vw;
    color: rgb(5, 37, 58);
}

#message{
    height: 20vw;
    padding: 1.5vw 2vw;
    resize: none;
}

input:focus, #message:focus{
    outline: none;
}

#cbtn{
    margin: 2vw 0;
    padding: 2vw 0;
    border-radius: 1vw;
    font-size: 5vw;
    font-weight: 500;
}

/* copyright */

#copyright{
    background-color: rgb(5, 37, 58);
    height: 18vw;
    padding: 1.7vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright>p{
    font-size: 4.2vw;
    width: 90%;
    line-height: 6vw;
    text-align: center;
    color: whitesmoke;
}


}