
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(76, 132, 123);
    color: rgb(5, 37, 58);
}

#home{
    height: 100%;
    width: 100%;
}

/* navbar */
#nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    z-index: 1;
}

#navbox{
    display: flex;
}

#headname{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
}

#navlinks,#mode{
    display: flex;
    align-items: center;
}

#navlinks>h4{
    padding: 15px 20px;
}

#navlinks>h4>a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}

#navlinks>h4>a:hover{
    border-bottom: 2px solid whitesmoke;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: whitesmoke;
}

/* remove mode and add contact button */
#mode{
    position: absolute;
    right: 15px;
    cursor: pointer;
    padding: 15px 60px;
}

#darkmode{
    visibility: visible;
}
#lightmode{
    visibility: hidden;
}

/* mainbox */

#mainbox{
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 25px;
}

#mainbox>#left, #aboutpic{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pbox>img{
    height: 350px;
    width: 350px;
    border: 1px solid rgb(5, 37, 58);
    border-radius: 50%;
    background-position: center;
    
}

#mainbox>#right{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(5, 37, 58);
}

#right>#intro{
    margin: 0 30px;
}

#intro>h3{
    font-size: 30px;
    font-weight: 400;
}

#intro>span{
    font-size: 54px;
    font-weight: 500;
    color: rgb(5, 37, 58);
}

#intro>#social{
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.social-img{
    height: 30px;
    width: 30px;
    margin-right: 25px;
}

.social-img:hover{
    transform: translateY(-7px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

#cv{
    margin-top: 30px;
}
/* resuabiltiy */
#cvbtn,
#infobox>#more>#readmore, 
#cbtn,
#viewbtn{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid rgb(5, 37, 58);
    border-radius: 20px;
    color: rgb(5, 37, 58);
}

#cvbtn:hover, 
#infobox>#more>#readmore:hover,
.skillname:hover,
#cbtn:hover,
#viewbtn:hover{
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border-color: rgb(5, 37, 58);
}

/* about */

#about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#infobox{
    display: flex;
    width: 35%;
    height: 50%;
    flex-direction: column;
}

.title{
    font-size: 38px;
    font-weight: bold;
    margin: 0px 0px;
    color: whitesmoke;
}

#education>span,
#skillbox>span{
    font-size: 38px;
    font-weight: bold;
    margin: 10px 0px;
}

#infobox>#subtitle{
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 500;
}

#infobox>#detail{
    font-size: 21px;
    font-weight: 500;
}

#infobox>#more{
    margin: 25px 0px;
}

#aboutpic>img{
    height: 400px;
    width: 350px;
    border-radius: 10%;
    border: 1px solid rgb(5, 37, 58);
    background-position: center;
    margin-left: 50px;
}

/* skills */
hr{
    margin-left: 3%;
    margin-right: 3%;
    opacity: 50%;
}

#skills{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#education{
    width: 25%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0px !important;
}

#eduinfo{
    padding: 10px;
}

#eduinfo>p{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
    display: list-item;
}

#skillbox, #education{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 100px;
}

#skillinfo{
    height: 200px;
    border: 2px solid rgb(5, 37, 58);
    border-radius: 20px;
    flex-direction: column;
    padding: 10px;
}

#skillinfo, #skillinfo>span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillname{
    margin: 10px 15px;
    padding: 10px 20px;
    border: 2px solid rgb(5, 37, 58);
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 37, 58);
}

#projects, #contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

#projects>#head, #contact>.title{
    text-align: center;
    margin: 20px 0px;
}

#projectbox{
    padding: 20px;
    height: max-content;
    display: flex;
    justify-content: space-around;
}

.project{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
}

.pimg{
    height: 80%;
}

.pview{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* contact */

#contact{
    align-items: center;
    justify-content: center;
}

#contact>.title{
    margin: 10px 0px;
}

#contact>#form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 18px;
    font-weight: bold;
}

input, #message{
    width: 400px;
    height: 40px;
    margin: 8px 0px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 5px 8px;
}

#message{
    height: 120px;
}

input:focus, #message:focus{
    outline: none;
}

#cbtn{
    margin: 10px 0px;
    border-radius: 15px;
    margin-bottom: 40px;
}

/* copyright */

#copyright{
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    height: 60px;
    padding: 20px 0px;
}

#copyright>p{
    font-size: 18px;
    text-align: center;
}
