
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(76, 132, 123);
    color: rgb(5, 37, 58);
}

#home{
    height: 100%;
    width: 100%;
}

/* navbar */
#nav{
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    z-index: 1;
}

#navbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5vw;
}

#headname{
    display: flex;
    align-items: center;
    padding: 1vw 3vw;
    font-size: 2vw;
    font-weight: bold;
}

#navlinks{
    display: flex;
    align-items: center;
}

#navlinks>h4{
    padding: 0.8vw 1.8vw;
}

a{
    text-decoration: none;

}

#navlinks>h4>a{
    color: whitesmoke;
    font-size: 1.55vw;
    font-weight: 500;
    padding-bottom: 0.5vw;
}

#navlinks>h4>a:hover{
    border-bottom: 2px solid whitesmoke;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: whitesmoke;
}

#menuBtn{
    display: none;
    position: absolute;    
    top: 18px;
    right: 18px;
    font-size: 3vw;
    z-index: 2;
    color: whitesmoke;
}

#closeBtn{
    display: none;
    position: absolute;    
    top: 18px;
    right: 18px;
    font-size: 3vw;
    z-index: 2;
    color: whitesmoke;
}

/* mainbox */

#mainbox{
    display: flex;
    height: calc(100vh - 4.5vw);
    width: 100%;
    padding: 0 5vw;
}

#mainbox>#left, #aboutpic{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pbox>img{
    height: 27vw;
    width: 27vw;
    border: 1px solid rgb(5, 37, 58);
    border-radius: 50%;
    background-position: center;
    
}

#mainbox>#right{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(5, 37, 58);
}

#right>#intro{
    margin: 0 1.5vw;
}

#intro>#introtext>h3{
    font-size: 2vw;
    font-weight: 400;
}

#intro>#introtext>p{
    font-size: 4vw;
    font-weight: 500;
    color: rgb(5, 37, 58);
}

#intro>#social{
    width: 100%;
    margin-top: 1.8vw;
    display: flex;
}

.social-img{
    height: 2.5vw;
    width: 2.5vw;
    margin-right: 2vw;
}

.social-img:hover{
    transform: translateY(-7px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

#cv{
    margin-top: 1.5vw;
}
/* resuabiltiy */
#cvbtn,
#infobox>#more>#readmore, 
#cbtn,
#viewbtn{
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.8vw 1.8vw;
    background-color: transparent;
    border: 2px solid rgb(5, 37, 58);
    border-radius: 0.5vw;
    color: rgb(5, 37, 58);
}

#cvbtn:hover, 
#infobox>#more>#readmore:hover,
.skillname:hover,
#cbtn:hover,
#viewbtn:hover{
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border-color: rgb(5, 37, 58);
}

/* about */

#about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4vw;
}

#infobox{
    display: flex;
    width: 38%;
    height: max-content;
    flex-direction: column;
}

.title{
    font-size: 3vw;
    font-weight: bold;
    color: whitesmoke;
}

#educationbox>span,
#skillbox>span{
    margin: 1vw 0px;
}

#infobox>#subtitle{
    margin-bottom: 1.5vw;
    font-size: 2vw;
    font-weight: 500;
}

#infobox>#detail{
    font-size: 1.8vw;
    font-weight: 400;
}

#dets{
    display: flex;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    border-collapse: separate;
    border-spacing: 0 1vw;
}

#dets .row{
    margin: 2vw 0;
}

#dets .key{
    font-weight: 500;
    text-align: left;
}
#dets .value{
    font-weight: 400;
    padding-left: 0.5vw;
    text-align: left;
}

#infobox>#more{
    margin: 1.8vw 0;
}

#aboutpic{
    height: 28vw;
    width: 24vw;
    margin-left: 3vw;
}

#aboutpic>img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 1px solid rgb(5, 37, 58);
    background-position: center;
    
}

/* skills */
hr{
    margin-left: 3%;
    margin-right: 3%;
    opacity: 50%;
}

#skills{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4vw;
}

#educationbox{
    width: 35%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#eduinfo{
    padding: 1vw 1.5vw;
}

#eduinfo>p{
    font-size: 1.7vw;
    font-weight: 400;
    margin: 1vw 0;
    display: list-item;
    color: rgb(5, 37, 58);
}

#skillbox{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
}

#skillinfo {
    height: max-content;
    width: 31vw;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(5, 37, 58);
    border-radius: 1vw;
    padding: 1vw;
}

.skillname{
    margin: 0.8vw 1vw;
    padding: 0.8vw 1.4vw;
    border: 2px solid rgb(5, 37, 58);
    border-radius: 1vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(5, 37, 58);
}

#projects, #contact{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6vw;
}

#projects .title, #contact .title{
    text-align: center;
    margin: 1.5vw 0;
}

#projectbox{
    padding: 0 10vw;
    /* width: 100%; */
    width: 100%;
    height: max-content;
    display: flex;
    gap: 1.5vw;
    /* justify-content: space-evenly; */
    justify-content: center;
    margin-bottom: 3vw;
}

.project{
    height: 30vw;
    width: calc(100% / 3);
    border: 2px solid rgb(5, 37, 58);
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
}

.pimg{
    height: 100%;
}

.pimg img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-position: center;
    object-fit: cover;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.pview{
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewbtn{
    text-decoration: none;
    position: absolute;
    bottom: 2vw;
    background-color: rgb(5, 37, 58);
    color: whitesmoke;
}

#viewbtn:hover{
    background-color: rgb(0, 16, 27);
}


/* contact */

#contact{
    height: 97vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 4vw;
}

#contactbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#contact #contactinfo, #contactform{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactinfo{
    flex-direction: column;
    height: 80% !important;
    padding-top: -10%;
}

#contactinfo #infobox{
    width: 50%;
    height: max-content;
}

#contactinfo .cbox{
    margin: 0.8vw 0;
    width: max-content;
    display: flex;
    align-items: center;
}

#contactinfo .cbox i{
    color: rgb(5, 37, 58);
    font-size: 2vw;
    padding-right: 0.5vw;
}

#contactinfo p{
    font-size: 1.8vw;
    color: rgb(5, 37, 58);
    font-weight: 400;
    text-align: left;
}

#contactform #form{
    padding: 0.8vw 1vw;
    width: 27vw;
    display: flex;
    flex-direction: column;
}

input, #message{
    width: 100%;
    height: 3vw;
    margin: 0.5vw 0;
    border-radius: 0.5vw;
    border: none;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0.4vw 0.7vw;
    color: rgb(5, 37, 58);
}

#message{
    height: 8vw;
    padding: 0.4vw 0.7vw;
    resize: none;
}

input:focus, #message:focus{
    outline: none;
}

#cbtn{
    margin: 0.8vw 0;
    padding: 0.5vw 0;
    border-radius: 0.5vw;
    font-size: 1.4vw;
    font-weight: 500;
}

/* copyright */

#copyright{
    background-color: rgb(5, 37, 58);
    height: 4vw;
    padding: 1.7vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright>p{
    font-size: 1.5vw;
    text-align: center;
    color: whitesmoke;
}
